<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="/app.css" type = "text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    </head>
    <body class="class">
        <div class ="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="sun icon"></i><a href="/">Weather App</a></div>
                

            </div>
        </div>
        
        
    