<%- include ("./partials/header") %>
    <div class="container col-md-3  shadow   rounded">
        
        <div class="form-group justify-content">
            <h1 >The Weather App</h1>
            <form action="/results" method="GET">
                <div class="ui small icon input">
                    <input type="text" placeholder="Search..." name="search">
                    <hr>
                    <hr>
                    <i class="search icon"></i>
                    <hr>
                  </div>
                <!-- <input type="text" name="search" id="" placeholder="City name">
                <button type="submit" class="btn btn-outline-dark">find</button> -->
            </form>
        </div>
    </div>
    
    
<%- include ("./partials/footer") %>

